div {

}

.all-products {
	padding: 30px 30px;
}

.single-product {
	margin: 30px 0;
	text-decoration: none;
	display: inline-block;
	padding: 5px 5px;
}

.single-product :hover{
  text-decoration: none;
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 20px #ADD8E6;
}

.showing-search-results {
  text-align: center;
  margin: 20px 0;
}

.showing-search-results button {
  color: #03A9F4;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

.review-header {
	margin-bottom: 30px;
}

.review {
	margin-bottom: 30px;
}
